target/
Servers/
*.class
*.log
*.ctxt
*.jar
*.war
*.nar
*.DS_Store
*.ear
*.zip
*.tar.gz
*.rar
*.db
*.buildpath
*.cproject
*.factorypath
*.launch
*.loadpath
*.metadata
*.project
*.target
*.texlipse
*.tomcatplugin
*.wtpmodules
*project.xml
*local.properties
*.tmp
*.bak
*.swp
*~.nib
*.settings/
*bin/**
*build/**
*target/
*tmp/**
*tmp/**/*
*webapp/WEB-INF/classes
**/WEB-INF/classes
*work/
*config/*.jks
*src/saml_DEVELOPMENT.properties
*Desktop.ini
*.classpath
*.SpringBeans
*gwt-unitCache/
*war/WEB-INF/deploy/
*war/WEB-INF/classes/
*.gwt/
*war/WEB-INF/lib
*/target/
*~*
*.iml
.idea/*
